body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://cdn.statically.io/img/statically.io/images/misc/clouds.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: initial;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.main {
  display: flex;
}

.topBar {
  /* width: 100%;
  display: flex;
  flex-wrap: wrap; */
  background-color: #08000009;
}

.topBar div div {
  display: flex;
  flex-wrap: wrap;
}
/* Drawer box style */
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #fdf0f0;
  color: rgb(243, 239, 239);
}

/* App Bar Style */
.css-lmlme2-MuiPaper-root-MuiAppBar-root {
  box-shadow: none;
  color: #fff;
}
